---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import webProjects from "@data/web-projects.json";
import academicProjects from "@data/academic-projects.json";
import gameDevProjects from "@data/game-dev-projects.json";
import technologies from "@data/technologies.json";
import languages from "@data/languages.json";
import Social from "@components/Social.astro";
import TopSocial from "@components/TopSocial.astro";
---

<Layout title="Raphael Dalangin's Portfolio">
  <main class=''>
    <!-- About Me Data -->
    <section class='py-8'>
      <article
        class='flex flex-wrap justify-center items-stretch h-full px-4 lg:px-16 gap-16'
      >
        <div class='flex-1 text-left'>
          <p class='text-4xl font-light'>Hi! I am</p>
          <p class='text-6xl font-bold'>Raphael Dalangin</p>
          <p class='text-base pt-4 font-normal italic'>
            <span>⚬</span> Project Leadership
            <span>⚬</span> Client Engagement
            <span>⚬</span> Backend Development
            <span>⚬</span> DevOps
            <span>⚬</span> Systems Architecture
          </p>
        </div>
        <div class='flex-1'>
          <img
            class='rounded-3xl shadow-2xl w-full h-auto object-cover object-top'
            src='/images/Raphael Dalangin MMCM.jpeg'
            alt='My graduation picture'
          />
        </div>
      </article>

      <!-- Tech and Languages -->
      <article class='flex justify-center items-center h-full px-4 lg:px-16'>
        <div class='flex w-full'>
          <div class='hidden lg:block w-1/4 shrink-0 pb-16'>
            <img
              class='rounded-3xl shadow-2xl'
              src='/images/Raphael Dalangin.jpg'
              alt='My image'
            />
            <TopSocial />
          </div>
          <div class='px-4 lg:px-16'>
            <div class='text-justify'>
              <div class='block lg:hidden w-1/4 shrink-0 mx-auto pb-4'>
                <img
                  class='rounded-3xl shadow-2xl'
                  src='/images/Raphael Dalangin.jpg'
                  alt='My image'
                />
              </div>
              <p class='pb-8'>
                I am
                <b>
                  <a href='https://github.com/raphile14' target='_blank'
                    >Raphael Dalangin,
                  </a>
                </b> your coding maestro. I wear many hats but mainly, I flourish
                as a <b>Project Manager</b> and a
                <b> Full Stack Developer</b>. Below is a toolbelt of
                technologies I have experience developing projects with:
              </p>
              <div
                class='flex flex-wrap px-4 lg:px-16 gap-4 lg:gap-y-8 justify-center'
              >
                {
                  technologies.data.map((technology) => (
                    <a href={technology.url} target='_blank'>
                      <div class='flex flex-col items-center transition hover:scale-110'>
                        <img
                          class='rounded-full max-h-8 xl:max-h-16 px-4 lg:px-4 xl:px-8'
                          src={technology.img}
                          alt={technology.name}
                        />
                      </div>
                    </a>
                  ))
                }
              </div>

              <p class='text-justify py-8'>
                I architect web and software landscapes that are not just
                functional, but also <i>eloquent and responsive</i>. Below is a
                list of languages I have experience with:
              </p>

              <div
                class='flex flex-wrap px-4 lg:px-16 gap-4 lg:gap-y-8 justify-center'
              >
                {
                  languages.data.map((language) => (
                    <a href={language.url} target='_blank'>
                      <div class='flex flex-col items-center transition hover:scale-110'>
                        <img
                          class='rounded-full max-h-8 xl:max-h-16 px-4 lg:px-4 xl:px-8'
                          src={language.img}
                          alt={language.name}
                        />
                      </div>
                    </a>
                  ))
                }
              </div>

              <p class='text-justify py-8'>
                But let’s dive a bit deeper! Beyond the bits and bytes, my
                devotion to coding is fueled by the sheer magic of creating. I
                perceive code as an evolving art form and, in every project, I
                seek to craft digital experiences that empower and resonate with
                their audience. Whether it's carving out the logical backbone of
                an application or rendering the pixels on a screen, my solutions
                are like symphonies composed with a fine balance of technical
                prowess and creativity.
              </p>
            </div>
          </div>
        </div>
      </article>

      <!-- Academics -->
      <article class='flex justify-center items-center h-full px-4 lg:px-16'>
        <div class='flex w-full'>
          <div class='px-4 lg:px-16'>
            <div class='block lg:hidden pb-4 w-1/4 shrink-0 mx-auto'>
              <div class='aspect-square rounded-3xl shadow-2xl overflow-hidden'>
                <img
                  class='w-full h-full object-cover object-top'
                  src='/images/Raphael Dalangin MMCM.jpeg'
                  alt='My graduation picture'
                />
              </div>
            </div>
            <h2
              class='text-center lg:text-justify font-bold text-2xl pb-4 lg:pb-8'
            >
              My Academics
            </h2>
            <p class='text-justify pb-8'>
              In 2022, I marked a pivotal milestone in my educational journey by
              graduating with a degree of Bachelor of Science in Computer
              Science from
              <a href='https://mcm.edu.ph/' target='_blank'>
                <b>Mapúa Malayan Colleges Mindanao</b>
              </a>. This achievement was not just about crossing a finish line;
              it was a testament to my dedication and zeal for mastering the
              realms of technology. With immense pride, I graduated
              <i>summa cum laude</i>. This honor is reflective of my unwavering
              commitment to learning and my insatiable appetite for knowledge.
              Through rigorous coursework and practical projects, my time at
              <a href='https://mcm.edu.ph/' target='_blank'><b>MMCM</b></a> instilled
              in me a strong foundation in computational theory, algorithms, and
              programming paradigms that I continually leverage in my professional
              endeavors.
            </p>
          </div>
          <div class='hidden lg:block w-1/4 shrink-0 pb-16'>
            <div class='aspect-square rounded-3xl shadow-2xl overflow-hidden'>
              <img
                class='w-full h-full object-cover object-top'
                src='/images/Raphael Dalangin MMCM.jpeg'
                alt='My graduation picture'
              />
            </div>
          </div>
        </div>
      </article>
    </section>

    <!-- Web Projects -->
    <section id='projects' class='py-16 bg-slate-400'>
      <h2 class='text-center uppercase font-bold text-2xl pb-8'>
        {webProjects.title}
      </h2>
      <ul
        role='list'
        class='grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-16 w-full px-4 md:px-16 lg:px-24'
      >
        {
          webProjects.data.map((project) => (
            <Card
              title={project.title}
              duration={project.duration}
              body={project.body}
              href={project.href}
              img={project.img}
              role={project.role}
              awards={project.awards}
            />
          ))
        }
      </ul>
    </section>

    <!-- Academic Projects -->
    <section class='py-16'>
      <h2 class='text-center uppercase font-bold text-2xl pb-8'>
        {academicProjects.title}
      </h2>
      <ul
        id='projects'
        role='list'
        class='grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-16 w-full px-4 md:px-16 lg:px-24'
      >
        {
          academicProjects.data.map((project) => (
            <Card
              title={project.title}
              duration={project.duration}
              body={project.body}
              href={project.href}
              img={project.img}
              role={project.role}
              awards={project.awards}
            />
          ))
        }
      </ul>
    </section>

    <!-- Game Dev Projects -->
    <section class='py-16 bg-gray-400'>
      <h2 class='text-center uppercase font-bold text-2xl pb-8'>
        {gameDevProjects.title}
      </h2>
      <ul
        id='projects'
        role='list'
        class='grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-16 w-full px-4 md:px-16 lg:px-24'
      >
        {
          gameDevProjects.data.map((project) => (
            <Card
              title={project.title}
              duration={project.duration}
              body={project.body}
              href={project.href}
              img={project.img}
              role={project.role}
              awards={project.awards}
            />
          ))
        }
      </ul>
    </section>

    <!-- Contact Me -->
    <section id='contact' class='mb-16'>
      <h2 class='text-center uppercase font-bold text-2xl p-8'>Contact Me</h2>
      <div class='grid grid-cols-1 justify-center w-full h-full px-2 lg:px-16'>
        <div class='w-32 shrink-0 mx-auto'>
          <div class='aspect-square rounded-full shadow-2xl overflow-hidden'>
            <img
              class='w-full h-full object-cover object-top'
              src='/images/Raphael Dalangin.jpg'
              alt='My image'
            />
          </div>
        </div>
        <div class='px-4 md:px-16'>
          <div class='text-center'>
            <p class='p-4 lg:p-8'>
              I am <b class='uppercase'>always</b> open to new opportunities.
            </p>
            <p>
              If you have any questions or would like to get in touch, please
              feel free to contact me via email at
              <b>
                <a href='mailto:dalanginraphael@gmail.com'>
                  dalanginraphael@gmail.com.
                </a>
              </b>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
