---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {
  webTitle,
  academicTitle,
  webProjects,
  academicProjects,
} from '@data/projects.json';
---

<Layout title="Raphael Dalangin's Portfolio">
  <main class='py-8'>
    <!-- Web Projects -->
    <section>
      <h1 class='text-center uppercase font-bold text-2xl'>{webTitle}</h1>
      <ul
        id='projects'
        role='list'
        class='grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4 w-full lg:px-24'
      >
        {
          webProjects.map((project) => (
            <Card
              title={project.title}
              duration={project.duration}
              body={project.body}
              href={project.href}
              img={project.img}
              role={project.role}
              awards={project.awards}
            />
          ))
        }
      </ul>
    </section>

    <!-- Academic Projects -->
    <section>
      <h1 class='text-center uppercase font-bold text-2xl'>{academicTitle}</h1>
      <ul
        id='projects'
        role='list'
        class='grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4 w-full lg:px-24'
      >
        {
          academicProjects.map((project) => (
            <Card
              title={project.title}
              duration={project.duration}
              body={project.body}
              href={project.href}
              img={project.img}
              role={project.role}
              awards={project.awards}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
