---
export interface Props {
  title: string;
  duration: string;
  body: string;
  href: string;
  img: string;
  role: string;
  awards: string | null;
}

const { title, duration, body, href, img, role, awards } = Astro.props;
---

<li class='link-card border-spacing-2'>
  <a href={href} target='_blank'>
    <img class='p-4 aspect-[15/9]' src={img} alt={title} />
    <div class='mx-4 py-4 px-8'>
      <h2 class='text-center font-bold text-xl'>
        {title}
      </h2>
      <p class='text-center text-sm text-gray-500'>
        {role} ({duration})
      </p>
      <p class='text-justify py-4'>
        {body}
      </p>
      {awards && <p class='text-justify text-sm text-gray-500'>{awards}</p>}
    </div>
  </a>
</li>
